.pexesso__text {
  margin: 0 auto;
  border: 1px solid #EA400C;
  width: 700px;
  height: 204px;
  padding-top: 35px;
  border-radius: 15px;
}

.pexesso__text .main__text {
  color: #02775D;
}

.pexesso__container {
  display: flex;
  width: 800px;
  height: 920px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 40px;
}

.pexesso__item {
  width: 115px;
  height: 115px;
}


.button__play-again {
  box-shadow: inset 0 0 0 3px #fff;
  border-radius: 100px;
  padding: 20px 56px;
  width: 300px;
  height: 80px;
  background: #37B5FF;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  margin-bottom: 50px;
}

.disabled {
  display: none;
}

.button__play-again:hover {
  background-color: #19a8fb;
}

.black-swan {
  background: url("../../../public/black_swan.svg") no-repeat;
}

.buffalo {
  background: url('../../../public/buffalo.svg')no-repeat;
}

.camel {
  background: url('../../../public/camel.svg')no-repeat;
}

.cockatoo {
  background: url('../../../public/cockatoo.svg')no-repeat;
}

.cougar {
  background: url('../../../public/cougar.svg')no-repeat;
}

.coyote {
  background: url('../../../public/coyote.svg')no-repeat;
}

.crocodile {
  background: url('../../../public/crocodile.svg')no-repeat;
}

.dingo {
  background: url('../../../public/dingo\ dog.svg')no-repeat;
}

.eagle {
  background: url('../../../public/eagle.svg')no-repeat;
}

.elephant {
  background: url('../../../public/elephant.svg')no-repeat;
}

.fox {
  background: url('../../../public/fox.svg')no-repeat;
}

.giraffe {
  background: url('../../../public/giraffe.svg')no-repeat;
}

.gorilla {
  background: url('../../../public/gorilla.svg')no-repeat;
}

.sloth {
  background: url("../../../public/sloth.svg");
}

.hare {
  background: url('../../../public/hare.svg');
}

.hedgehog {
  background: url('../../../public/hedgehog.svg');
}

.jaguar {
  background: url('../../../public/jaguar.svg');
}

.kangaroo {
  background: url('../../../public/kangaroo.svg');
}


.pexesso__item--green {
  background: #00B88F;
}
