

.countdown__text {
  margin-top: 0;
  padding-top: 25vh;
  font-size: 80px;
  margin-bottom: 80px;
}

@media (max-width: 944px) {
  .countdown__text {
    font-size: 74px;
    margin-bottom: 60px;
  }
}

.countdown__number {
  font-size: 44px;
}
