@media (max-width: 944px) {
  .main__text {
    font-size: 16px;
    line-height: 130%;
  }
  }

.video__container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 120px;
}

.main__video {
  display: block;
  min-width: 80%;
  height: 510px;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 50px;
}

.main__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #02775D;
  font-family: "Inter", sans-serif;
}

