.video__title {
  font-size: 64px;
  margin-bottom: 80px;
}

.video__container {
  position: relative;
}

.video__item {
  border-radius: 7px;
  width: 200px;
  height: 100px;
}

.arrow {
  position: absolute;
  color: #fff;
  font-size: 80px;
}

.arrow:hover {
  color: #EA400C;
  cursor: pointer;
}

.arrow-back {
  left: 5vw;
}

.arrow-right {
  right: 5vw;
}

.video {
  transition: 0.4s;
}
.video:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
