.video__title {
  font-size: 64px;
  margin-bottom: 80px;
}

.video__container {
  position: relative;
}

.video__item {
  border-radius: 7px;
  width: 200px;
  height: 100px;
}

.video__item--butterfly {
  background: url(../../img/butterfly.png);
  background-size: cover;
}

.video__item--eagle {
  background: url(../../img/eagle.png);
  background-size: cover;
}

.video__item--fox {
  background: url(../../img/fox.png);
  background-size: cover;
}

.video__item--panda {
  background: url(../../img/panda.png);
  background-size: cover;
}

.video__item--turtle {
  background: url(../../img/turtle.png);
  background-size: cover;
}

.video__item--center {
  width: 400px;
  height: 200px;
}

.arrow {
  position: absolute;
  color: #fff;
  font-size: 80px;
}

.arrow:hover {
  color: #EA400C;
  cursor: pointer;
}

.arrow-back {
  left: 5vw;
}

.arrow-right {
  right: 5vw;
}
