.quizz_title {
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 90%;
  color: #02775D;
  text-transform: uppercase;
  text-align: left;
}

@media (max-width: 944px) {
  .quizz_title {
    font-size: 28px;
    line-height: 150%;
  }
}

.quizz_subtitle {
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #02775D;
  text-align: left;
  margin-bottom: 50px;
}

.quizz_container {
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 100px;
}

.quizz_container-box {
  position: relative;
  height: 100vh;
  border: 4px solid #FF6924;
  border-radius: 15px;
  margin: 0 auto;
  background: #00B88F;
  padding-top: 35px;

}

@media (max-width: 944px) {
  .quizz_container-box {
    padding-top: 0;
  }
}

.quizz_page-number {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  font-family: 'inter', sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
}

.quizz_box {
  border-radius: 15px;
  width: 250px;
  height: 250px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_img {
  width: 150px;
  height: 150px;
}

.quizz_question {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  font-family: 'inter', sans-serif;
  margin-bottom: 25px;
}

@media (max-width: 944px) {
  .quizz_question {
    font-size: 18px;
  }
}

.quizz__field--container {
  height: 180px;
  max-width:100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
}

.quizz-field {
  max-width: 70%;
  height: 60px;
  background: #d9d9d9;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  margin: 0 auto;
}

.quizz-field:focus,
.quizz-field:hover {
  background-color: #FF6924;
  cursor: pointer;
}

.answer {
  font-weight: 400;
  font-size: 24px;
  color: #050505;
  font-family: 'inter', sans-serif;
}

.quizz_btns {
  display: flex;
  justify-content: space-between;
  max-width: 70%;
  margin:0 auto;
}


.previous,
.next {
  font-family: 'inter', sans-serif;
  border: 3px solid #fff;
  border-radius: 100px;
  padding: 10px 30px;
  background: #37B5FF;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  transition: all 0.4s;
}

.previous:focus,
.next:focus,
.previous:hover,
.next:hover {
  background-color: #19a8fb;
  cursor: pointer;
}

/* Card result answer */

.answer_rslt {
  width: 450px;
  height: 450px;
  background-color: #fff;
  border-radius: 15px;
  border: 4px solid #FF6924;
}

.rslt {
  display: flex;
  justify-content: center;
}

.text_rslt {
  font-size: 40px;
}

.icon_smile {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.box_rslt {
  display: flex;
  flex-direction: column;
}

.answer_rslt {
  position: absolute;
  top: 550px;
  left: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 944px) {
  .answer_rslt {
    position: absolute;
    top: 550px;
    left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}

.hidden {
  display: none;
}
