.map__container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(./img/world_map.png) no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: #37B5FF;
  margin-bottom: 100px;
}

.map__title-ocean {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}

.map__title-ocean--arctic {
  top: 5vh;
  left: 45vw;
}

.map__title-ocean--atlantic {
  top: 35vh;
  left: 33vw;
}

.map__title-ocean--pacific1 {
  top: 45vh;
  left: 15vw;
}

.map__title-ocean--pacific2 {
  right: 13vw;
  top: 40vh;
}

.map__title-ocean--indian {
  top: 48vh;
  right: 34vw;
}

@media (max-width: 944px) {
  .map__title-ocean--indian {
    top: 48vh;
    right: 32vw;
  }
}

.map__title-ocean--southern {
  left: 45vw;
  bottom: 33vh;
}
@media  (max-width: 1181px) {
  .map__title-ocean--southern {
    left: 45vw;
    bottom: 37vh;
  }}


.map__title-continent {
  position: absolute;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}

.map__title-continent--europe {
  top: 20vh;
  right: 45vw;
}


@media (max-width: 1181px){
  .map__title-continent--europe {
    top: 28vh;
    right: 45vw;
  }
}


.map__title-continent--asia {
  top: 22vh;
  right: 33vw;
}
@media (max-width: 1181px){
  .map__title-continent--asia {
    top: 29vh;
    right: 33vw;
  }
}

.map__title-continent--s-america {
  top: 48vh;
  left: 32vw;
}

.map__title-continent--n-america {
  top: 26vh;
  left: 25vw;
}

.map__title-continent--africa {
  left: 50vw;
  top: 45vh;
}


.map__title-continent--australia {
  right: 23vw;
  bottom: 40vh;
}

@media (max-width: 1181px) {
  .map__title-continent--australia {
    right: 24vw;
    bottom: 43vh;
  }
}

.map__title-continent--antarctica {
  right: 45vw;
  bottom: 19vh;
}
@media (max-width: 1181px){
  .map__title-continent--antarctica {
    right: 45vw;
    bottom: 28vh;
  }
}

/* Europa */
.map__img--squirrel {
  top: 12vh;
  left: 50vw;
  background: url(./img/squirrel.svg);
}
@media (max-width: 1181px){
  .map__img--squirrel {
    top: 17vh;
    left: 50vw;
    background: url(./img/squirrel.svg);
  }
}

.map__img--fox {
  background: url(./img/fox.svg);
  top: 22vh;
  left: 47vw;
}

.map__img--hare {
  background: url(./img/hare.svg);
  top: 23vh;
  left: 53vw;
}


/* South America */
.map__img--toukan {
  background: url(./img/toucan.svg);
  top: 42vh;
  left: 30vw;
}

.map__img--parrot {
  background: url(./img/parrot.svg);
  top: 55vh;
  left: 35vw;
}
@media (max-width: 1181px){
  .map__img--parrot{
  background: url(./img/parrot.svg);
  top: 53vh;
  left: 35vw;
  }
  
}

.map__container .map__img--cingulata {
  background: url(./img/сingulata.svg)no-repeat;
  top: 50vh;
  left: 28vw;
  width: 65px;
}
@media (max-width: 1181px){
  .map__container .map__img--cingulata {
    background: url(./img/сingulata.svg)no-repeat;
    top: 54vh;
    left: 28vw;
    width: 65px;
  }
}

.map__img--sloth {
  background: url(./img/sloth.svg);
  top: 57vh;
  left: 31vw;
}

/* Antarctica */
.map__container .map__img--seals {
  width: 55px;
  background: url(./img/seal.svg)no-repeat;
  bottom: 25vh;
  left: 50vw;
}
@media (max-width: 1181px){
  .map__container .map__img--seals {
    width: 55px;
    background: url(./img/seal.svg)no-repeat;
    bottom: 30vh;
    left: 50vw;
  }
}

.map__container .map__img--walrus {
  width: 55px;
  background: url(./img/walrus.svg)no-repeat;
  bottom: 19vh;
  left: 44vw;
}
@media (max-width: 1181px) {
  .map__container .map__img--walrus {
    width: 55px;
    background: url(./img/walrus.svg)no-repeat;
    bottom: 23vh;
    left: 42vw;
  }
}

.map__container .map__img--killer-whale {
  width: 55px;
  background: url(./img/killer_whale.svg)no-repeat;
  bottom: 8vh;
  left: 45vw;
}
@media (max-width: 1181px){
  .map__container .map__img--killer-whale {
    width: 55px;
    background: url(./img/killer_whale.svg)no-repeat;
    bottom: 15vh;
    left: 45vw;
  }
}

.map__img--petrel {
  background: url(./img/petrel.svg);
  bottom: 12vh;
  left: 54vw;
}
@media (max-width: 1181px){
  .map__img--petrel {
    background: url(./img/petrel.svg);
    bottom: 19vh;
    left: 52vw;
  }
}

.map__container .map__img--whale {
  width: 55px;
  background: url(./img/whale.svg)no-repeat;
  bottom: 20vh;
  left: 57vw;
}
@media (max-width: 1181px){
  .map__container .map__img--whale {
    width: 55px;
    background: url(./img/whale.svg)no-repeat;
    bottom: 25vh;
    left: 57vw;
  }
}

.map__img--penguin {
  background: url(./img/penguin.svg);
  bottom: 13vh;
  left: 52vw;
}
@media (max-width: 1181px){
  .map__img--penguin {
    background: url(./img/penguin.svg);
    bottom: 22vh;
    left: 50vw;
  } 
}

/*North America*/
.map__img--polar-bear {
  background: url(./img/polar_bear.svg);
  left: 30vw;
  top: 18vh;
}
@media (max-width: 1181px){
  .map__img--polar-bear {
    background: url(./img/polar_bear.svg);
    left: 37vw;
    top: 21vh;
  }
}

.map__img--grizzly {
  background: url(./img/grizzly.svg);
  top: 17vh;
  left: 20vw;
}
@media (max-width: 1181px){
  .map__img--grizzly {
    background: url(./img/grizzly.svg);
    top: 19vh;
    left: 20vw;
  }
}

.map__img--coyote {
  background: url(./img/coyote.svg);
  top: 10vh;
  left: 25vw;
}
@media (max-width: 1181px){
  .map__img--coyote {
    background: url(./img/coyote.svg);
    top: 15vh;
    left: 29vw;
  }
}


.map__img--buffalo {
  background: url(./img/buffalo.svg);
  top: 20vh;
  left: 25vw;
}

.map__container .map__img--crocodile {
  width: 80px;
  background: url(./img/crocodile.svg)no-repeat;
  top: 36vh;
  left: 25vw;
}


.map__img--eagle {
  background: url(./img/eagle.svg);
  top: 10vh;
  left: 36vw;
}
@media (max-width: 1181px){
  .map__img--eagle {
    background: url(./img/eagle.svg);
    top: 28vh;
    left: 21vw;
  }
}

.map__img--raccoon {
  background: url(./img/raccoon.svg);
  top: 10vh;
  left: 30vw;
}
@media (max-width: 1181px){
  .map__img--raccoon {
    background: url(./img/raccoon.svg);
    top: 20vh;
    left: 32vw;
  }
}


/* Asia */
.map__img--panda {
  background: url(./img/panda.svg);
  top: 26vh;
  right: 28vw;
}
@media (max-width: 1181px){
  .map__img--panda {
    background: url(./img/panda.svg);
    top: 30vh;
    right: 26vw;
  }
}

.map__img--turtle {
  background: url(./img/turtle.svg);
  top: 34vh;
  right: 35vw;
}

.map__img--peacock {
  background: url(./img/peacock.svg);
  top: 15vh;
  right: 33vw;
}
@media (max-width: 1181px){
  .map__img--peacock {
    background: url(./img/peacock.svg);
    top: 24vh;
    right: 35vw;
  }
}

.map__img--orangutan {
  background: url(./img/orangutan.svg);
  top: 40vh;
  right: 30vw;
}

.map__img--lynx {
  background: url(./img/lynx.svg);
  top: 20vh;
  right: 38vw;
}
@media (max-width: 1181px){
  .map__img--lynx {
    background: url(./img/lynx.svg);
    top: 20vh;
    right: 18vw;
  }
}

.map__img--tiger {
  background: url(./img/tiger.svg);
  top: 15vh;
  right: 25vw;
}
@media (max-width: 1181px){
  .map__img--tiger {
    background: url(./img/tiger.svg);
    top: 20vh;
    right: 25vw;
  }
}

/* Australia*/
.map__img--kangaroo {
  background: url(./img/kangaroo.svg);
  bottom: 48vh;
  right: 23vw;
}

.map__img--cockatoo {
  background: url(./img/cockatoo.svg);
  bottom: 32vh;
  right: 18vw;
}
@media (max-width: 1181px) {
  .map__img--cockatoo {
    background: url(./img/cockatoo.svg);
    bottom: 42vh;
    right: 20vw;
  } 
}

.map__img--koala {
  background: url(./img/koala.svg);
  bottom: 37vh;
  right: 28vw;
}
@media (max-width: 1181px) {
  .map__img--koala {
    background: url(./img/koala.svg);
    bottom: 45vh;
    right: 26vw;
  }
  } 

 /* Africa */
.map__img--camel {
  background: url(./img/camel.svg);
  top: 37vh;
  left: 50vw;
}
@media (max-width: 1181px){
  .map__img--camel {
    background: url(./img/camel.svg);
    top: 39vh;
    left: 50vw;
  }
}

.map__img--zebra {
  background: url(./img/zebra.svg);
  top: 48vh;
  left: 50vw;
}

.map__img--gorilla {
  background: url(./img/gorilla.svg);
  top: 37vh;
  left: 45vw;
}

.map__img--lion {
  background: url(./img/lion.svg);
  top: 55vh;
  left: 50vw;
}

/*-----------------------------------*/

.map__img {
  position: absolute;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  transition: all 0.6s;
}

.map__img:hover,
.map__img:focus
 {
  width: 75px;
  height: 75px;
}
.map__img.map__img--crocodile:focus,
.map__img.map__img--crocodile:hover {
  width: 100px;
  height: 100px;
}
.animal__container {
  position: absolute;
  width: 300px;
  background-repeat: no-repeat;
  z-index: 1;
}

.hidden {
  display: none;
}

